// Основні кольори
$color-light: #FBF2EF
$color-primary: #5A6DB4
$color-dark: #1F1F29

// Другорядні кольори
$color-white: #fff
$color-for-p: rgba(31, 31, 41, .8)
$color-second-bg: #f8f9fa

// Синій градієнт
$gradient-blue-start: #33406C
$gradient-blue-end: #685EDE

// Рожевий градієнт
$gradient-pink-start: #5C336C
$gradient-pink-end: #DE5E8C